body {
  font-family: Arial, sans-serif;
}
nav {
  background-color: #ddd;
  padding: 10px;
}
nav a {
  margin-right: 10px;
  text-decoration: none;
}
#home,
#about,
#contact {
  padding: 20px;
}

.card {
  width: 500px;
}